body {
    margin: 0;
    padding: 0;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #3c4043;
    background-color: #fff;
}

header,
footer {
    display: flex;    
}

header {
    justify-content: flex-end;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    padding-top: 60px;
}

footer {
    background-color: #f2f2f2;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    bottom: 0;
    flex-wrap: wrap;
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
}

li {
    margin: 0 1em;
    padding: 0.5em;    
}

hr {
    border: 0;
    border-top: 1px solid #ccc;
    margin: 30px;
    padding: 0;
}

a {
    text-decoration: none;
    font: 13px/27px Roboto,Arial,sans-serif;
    white-space: nowrap;
    -webkit-user-select: none;
    font-family: arial,sans-serif;
    color: rgba(0,0,0,.87);
    text-decoration: none;
    display: inline-block;
    line-height: 24px;
    vertical-align: middle;
    padding: 5px 8px;
}

a:hover {
    text-decoration: underline;
}

img {
    width: 272px;
    height: 92px;
}

#search_text_input {
    min-width: 443px;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 0 10px;
    background-color: transparent;
}

.searchcontainer {
    max-width: 562px;
    width: 100%;
    height: 44px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 25px;
    padding: 0 20px;
    margin: 20px 0;    
}

.searchcontainer:hover {
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.2);
}

button { 
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

button:hover {
    border: 1px solid #dadce0;
    box-shadow: 0 1px 1px rgba(0,0,0,.1),0 1px 1px rgba(0,0,0,.1);
}

.advancedsearch {
    display: inline;
    justify-self: left;
    font-family: arial, sans-serif;
    width: 100%
}

.advanced_search_title {
    font-size: 20px;
    font-weight: 400;
    color: #d93025;
    margin: 15px 40px 30px;
}

.advanced_search_item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 12px 35px;
    font-size: 13px;
    font-weight: 400;
    color: #3c4043;
    line-height: 16px;
}

.find_pages_with {
    margin: 0 35px;
    margin-bottom: 10px;
}

.advanced_search_item input {
    position: absolute;
    left: 215px;
    max-width: 515px;
    width: 100%;
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
    height: 25px;
    padding: 1px 8px;
    text-align: left;
}

.advanced_logo {
    width: 74px;
    height: 24px;
    margin: 20px;
}

.advanced_header {
    justify-content: space-between;
}

.advanced_main {
    align-items: start;
    padding-top: 0;
}

.advanced_footer {
    justify-content: right;
}

.searchtip {
    position: absolute;
    left: 760px;
    font-size: 11px;
    font-weight: 400;
}
.advanced_searchbtn {
    border-radius: 2px;
    cursor: default;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    outline: 0;
    box-shadow: none;
    background-color: #4d90fe;
    background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
    border: 1px solid #3079ed;
    color: #fff;
    padding: 0 12px;
    margin: 10px 0;
    user-select: none;
    line-height: 100%;
    height: 30px;
    min-width: 120px;
    position: relative;
    left: 630px;
}

.advanced_searchbtn:hover {
    background-color: #357ae8;
    background-image: -webkit-linear-gradient(top,#4d90fe,#357ae8);
    border: 1px solid #2f5bb7;
}

.advanced_searchbtn:active {
    background-color: #285ebe;
    background-image: -webkit-linear-gradient(top,#285ebe,#285ebe);
    border: 1px solid #1b4173;
}

.search_tip_code {
    font-size: 11px;
    font-weight: 400;
    font-family: monospace;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

span.searchtip {
    font-weight: 900;
    font-size: 13px;
}

@media screen and (max-width: 1070px) {
    .searchtip {
        display: none;
    }
}