body {
    margin: 0;
    padding: 0;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #3c4043;
    background-color: #fff;
}

header,
footer {
    display: flex;
    
}

header {
    justify-content: flex-end;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    padding-top: 70px;
}

footer {
    background-color: #f2f2f2;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    bottom: 0;
    flex-wrap: wrap;
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
}

li {
    margin: 0 1em;
    padding: 0.5em;    
}

a {
    text-decoration: none;
    font: 13px/27px Roboto,Arial,sans-serif;
    white-space: nowrap;
    -webkit-user-select: none;
    font-family: arial,sans-serif;
    color: rgba(0,0,0,.87);
    text-decoration: none;
    display: inline-block;
    line-height: 24px;
    vertical-align: middle;
    padding: 5px 8px;
}

a:hover {
    text-decoration: underline;
}

img {
    width: 272px;
    height: 92px;
}

#search {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 0 10px;
    background-color: transparent;
}

.searchcontainer {
    max-width: 582px;
    width: 100%;
    height: 44px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 25px;
    padding: 0 20px;
    margin: 20px 0;    
}

.searchcontainer:hover {
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.2);
}

button { 
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

button:hover {
    border: 1px solid #dadce0;
    box-shadow: 0 1px 1px rgba(0,0,0,.1),0 1px 1px rgba(0,0,0,.1);
}